.btn {
    
    background: rgba(134, 77, 2, 0.801);
    height: 50px;
    min-width: 150px;
    border: none;
    border-radius: 10px;
    color: #eee;
    font-size: 20px;
    font-family: 'Cookie', cursive;
    position: relative;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 1%;
    margin-left: 50%;
   
  }

  .btn .circle {
    width: 5px;
    height: 5px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    transition: 500ms;
    
  }

  .noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }
.btn:hover {
    background: transparent;
    
  }

  .btn:hover .circle {
    height: 50px;
    width: 150px;
    left: 0;
    border-radius: 0;
    border-bottom: 2px solid #eee;
    
  }

  #prev{
    border: 1px;
    display: inline-block;
    width: auto;
    margin: auto;
    padding: 20px 20px ;
    text-align: justify; 
  }

  #next{
    border: 1px;
    display: inline-block;
    width: auto;
    margin: auto;
    padding: 20px 20px 0px 72% ;
    text-align: justify; 
    
  }

.card{
  justify-content:center;
  max-width: 20%;
  display: inline-block;
  margin-left: 10%;
  margin-right:5%;
  margin-bottom: 5%;
}