.list_card {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
.card {
    margin: 2% 25% 12% 12%;
    width: 70%;
    height: 300px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    border-radius: 40px;
    transition: 0.4s;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding-bottom: 45%;
    font-size: 20px;
    font-family: 'Cookie', cursive;
    position: relative;
   
}

#card_image{
    border-radius: 40px;
    width: 400px;
}


.btn {
    
    background: rgba(134, 77, 2, 0.801);
    height: 50px;
    min-width: 150px;
    border: none;
    border-radius: 10px;
    color: #eee;
    font-size: 20px;
    font-family: 'Cookie', cursive;
    position: relative;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 1%;
    margin-left: 45%;
   
  }

  .btn .circle {
    width: 5px;
    height: 5px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    transition: 500ms;
    
  }

  .noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }
.btn:hover {
    background: transparent;
    
  }

  .btn:hover .circle {
    height: 50px;
    width: 150px;
    left: 0;
    border-radius: 0;
    border-bottom: 2px solid #eee;
    
  }


