.input{
    font-family: 'Cookie', cursive;
    color: rgb(255, 255, 255);
    background: rgb(134, 77, 2);
    border: none;
    border-radius: 15px;
    height: 30px;
    width: 450px;
    min-width: 20px;
    font-size: 17px;
    align-items: center;
    justify-content: center;
}

#steps{
    font-family: 'Cookie', cursive;
    color: rgb(0, 0, 0);
    background: rgba(134, 77, 2, 0.801);
    border: none;
    border-radius: 15px;
    height: 120px;
    width: 450px;
    min-width: 20px;
    font-size: 17px;
    align-items: center;
    justify-content: center;
}

.card {
    margin: 3% auto;
    width: 200px;
    height: 300px;
    padding-bottom: 25%;
    padding-top: 0,40%;
    padding-left: 10%;
    padding-right: 20%;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    border-radius: 40px;
    transition: 0.4s;
}

#diets{
    font-family: 'Cookie', cursive;
    color: #fff;
    background: rgb(134, 77, 2);
    border: none;
    border-radius: 15px;
    height: 30px;
    min-width: 20px;
    font-size: 17px;
    align-items: center;
    justify-content: center;

}

.text{
    color: #fff;
    text-align: center;
    font-family: 'Cookie', cursive;
    font-weight: bold;
    font-size: 20px;
 }

 .error{
    color: #fff;
    text-align: center;
    font-family: 'Cookie', cursive;
    font-weight: bold;
    font-size: 15px;
  }


#btn {
    
    background: rgba(134, 77, 2, 0.801);
    height: 50px;
    min-width: 150px;
    border: none;
    border-radius: 10px;
    color: #eee;
    font-size: 40px;
    font-family: 'Cookie', cursive;
    position: relative;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-bottom: 67px;
    padding-top: 5px;
    margin-top: 1%;
    margin-left: 45%;
   
  }
  
#btn #circle {
    width: 5px;
    height: 5px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    transition: 500ms;
    
  }
  
#noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }
  
#btn:hover {
    background: transparent;
    
  }
  
#btn:hover #circle {
    height: 50px;
    width: 150px;
    left: 0;
    border-radius: 0;
    border-bottom: 2px solid #eee;
    
  }

  #input{
    
    background: rgba(134, 77, 2, 0.801);
    height: 50px;
    min-width: 150px;
    border: none;
    border-radius: 10px;
    color: #eee;
    font-size: 23px;
    font-family: 'Cookie', cursive;
    position: relative;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-bottom: 30px;
    padding-top: 5px;
    margin-top: 5%;
    margin-left: 45%;
   
  }