.list_card {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

.card {
    margin: 7% auto;
    width: 300px;
    height: 300px;
    padding-bottom: 60%;
    padding-top: 40%;
    padding-left: 10%;
    padding-right: 10%;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    border-radius: 40px;
    cursor: pointer;
    transition: 0.4s;
}

.card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
}

.card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }

.card .card_title {
    color: #fff;
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: 'Cookie', cursive;
    font-weight: bold;
    font-size: 22px;
    margin-top: -35%;
    height: 60px;
    margin-bottom: 10%;
}


.card .card_h5{
    color: #fff;
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: 'Cookie', cursive;
    font-weight: bold;
    font-size: 18px;
    margin: 1%;
    height: 12%;
}

.card .card_score{
    color: #fff;
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: 'Cookie', cursive;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15%;
    height: 12%;
    margin-bottom: 2%;
}

.btn {
    
    background: rgba(134, 77, 2, 0.801);
    height: 50px;
    min-width: 150px;
    border: none;
    border-radius: 10px;
    color: #eee;
    font-size: 20px;
    font-family: 'Cookie', cursive;
    position: relative;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 1%;
    margin-left: 50%;
   
  }

  .btn .circle {
    width: 5px;
    height: 5px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    transition: 500ms;
    
  }

  .noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }
.btn:hover {
    background: transparent;
    
  }

  .btn:hover .circle {
    height: 50px;
    width: 150px;
    left: 0;
    border-radius: 0;
    border-bottom: 2px solid #eee;
    
  }